<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- faq32:14-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FAQ || Hogar Luxe Gifts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:url" content="https://hluxegifts.com/faq" />
        <meta property="og:title" content="Frequently Asked Questions |  Hogar Luxe Gifts" />
        <meta property="og:description" content="Frequently Asked Questions " />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/images/menu/logo/local.jpg" />
        <link rel="canonical" href="/">
        <!--/metatextblock-->
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <link rel="dns-prefetch" href="/">
        <link rel="dns-prefetch" href="/">
        <link rel="icon" type="image/x-icon" sizes="32x32" href="/images/favicon.png" media="(prefers-color-scheme: light)" />
        <link rel="icon" type="image/x-icon" sizes="32x32" href="/image/favicon.png media="(prefers-color-scheme: dark)" />
        <link rel="apple-touch-icon" type="image/png" href="/images/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon.png">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
        <!-- Material Design Iconic Font-V2.2.0 -->
        <link rel="stylesheet" href="/material-design-iconic-font.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- Font Awesome Stars-->
        <link rel="stylesheet" href="/css/fontawesome-stars.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="/css/meanmenu.css">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- Slick Carousel CSS -->
        <link rel="stylesheet" href="/css/slick.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- Jquery-ui CSS -->
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <!-- Venobox CSS -->
        <link rel="stylesheet" href="/css/venobox.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="/css/nice-select.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <!-- Bootstrap V4.1.3 Fremwork CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Helper CSS -->
        <link rel="stylesheet" href="/css/helper.css">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- Modernizr js -->
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
      <%- include("loader") %>

    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            <%- include("header.ejs") %>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">FAQ</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Frequently Area -->
            <div class="frequently-area pt-60 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="frequently-content">
                                <div class="frequently-desc">
                                    <h3>Below are frequently asked questions, you may find the answer for yourself</h3>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id erat sagittis, faucibus metus malesuada, eleifend turpis. Mauris semper augue id nisl aliquet, a porta lectus mattis. Nulla at tortor augue. In eget enim diam. Donec gravida tortor sem, ac fermentum nibh rutrum sit amet. Nulla convallis mauris vitae congue consequat. Donec interdum nunc purus, vitae vulputate arcu fringilla quis. Vivamus iaculis euismod dui.</p> -->
                                </div>
                            </div>
                            <!-- Begin Frequently Accordin -->
                            <div class="frequently-accordion">
                                <div id="accordion">
                                  <div class="card actives">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          How would my selected product(s) be personalised with my logo/art work?
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                      <div class="card-body">
                                        You will need to supply us with your artwork or text or logo.
                                        This may be supplied to us by using the <a href="https://forms.gle/yh6CNY4vYcNYDr969">upload design form</a> or send an e-mail as a vector-based image (saved as curves / outlines) (Supplied as .eps / .pdf /.cdr).
                                        Full colour images can be supplied as a high resolution Jpg file and at the required print size or larger.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingTwo">
                                      <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          What kind of artwork can I upload?
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                      <div class="card-body">
                                        If you have them, we prefer high-resolution
                                        Acceptable File Formats:
                                        <ul> <li> <b>Cdr:</b> CorelDraw file Format.</li>
                                        <li><b>Ai:</b> Adobe Illustrator.</li>
                                        <li><b>EPS:</b> Encapsulated Postscript.</li>
                                        <li><b>PDF:</b> Portable Document Format.</li>
                                        <li><b>PSD:</b> Photoshop Document.</li>
                                        <li><b>PNG:</b> Portable Network Graphics.</li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingThree">
                                      <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Do you offer rush processing (Express Gifts & Delivery)?
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                      <div class="card-body">
                                        Yes, we offer rush processing on most products on our site. Rush processing fees are a percentage of your order total that is dependent on logo(s), quantity, and in hands date. Please <a href="/contact"> contact us</a>.
                                      </div>
                                    </div>
                                  </div>
                           
                                </div>
                            </div>
                            <!--Frequently Accordin End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!--Frequently Area End Here -->
            <!-- Begin Footer Area -->
            <%- include("footer.ejs")  %>
            <!-- Footer Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        <!-- jQuery-V1.12.4 -->
        <script src="/js/vendor/jquery-1.12.4.min.js"></script>
        <!-- Popper js -->
        <script src="/js/vendor/popper.min.js"></script>
        <!-- Bootstrap V4.1.3 Fremwork js -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Ajax Mail js -->
        <script src="/js/ajax-mail.js"></script>
        <!-- Meanmenu js -->
        <script src="/js/jquery.meanmenu.min.js"></script>
        <!-- Wow.min js -->
        <script src="/js/wow.min.js"></script>
        <!-- Slick Carousel js -->
        <script src="/js/slick.min.js"></script>
        <!-- Owl Carousel-2 js -->
        <script src="/js/owl.carousel.min.js"></script>
        <!-- Magnific popup js -->
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <!-- Isotope js -->
        <script src="/js/isotope.pkgd.min.js"></script>
        <!-- Imagesloaded js -->
        <script src="/js/imagesloaded.pkgd.min.js"></script>
        <!-- Mixitup js -->
        <script src="/js/jquery.mixitup.min.js"></script>
        <!-- Countdown -->
        <script src="/js/jquery.countdown.min.js"></script>
        <!-- Counterup -->
        <script src="/js/jquery.counterup.min.js"></script>
        <!-- Waypoints -->
        <script src="/js/waypoints.min.js"></script>
        <!-- Barrating -->
        <script src="/js/jquery.barrating.min.js"></script>
        <!-- Jquery-ui -->
        <script src="/js/jquery-ui.min.js"></script>
        <!-- Venobox -->
        <script src="/js/venobox.min.js"></script>
        <!-- Nice Select js -->
        <script src="/js/jquery.nice-select.min.js"></script>
        <!-- ScrollUp js -->
        <script src="/js/scrollUp.min.js"></script>
        <!-- Main/Activator js -->
        <script src="/js/main.js"></script>
    </body>

<!-- faq32:14-->
</html>
