<header>
    <!-- Begin Header Top Area -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Begin Header Top Left Area -->
                <div class="col-lg-3 col-md-4">
                    <div class="header-top-left">
                        <ul class="phone-wrap">
                            <li><span>Telephone Enquiry:</span><a href="#">(+123) 123 321 345</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top Left Area End Here -->
                <!-- Begin Header Top Right Area -->
     
                <!-- Header Top Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Top Area End Here -->
    <!-- Begin Header Middle Area -->
    <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
        <div class="container">
            <div class="row">
                <!-- Begin Header Logo Area -->
                <div class="col-lg-3">
                    <div class="logo pb-sm-30 pb-xs-30">
                        <a href="/">
                            <img src="/images/menu/logo/hoger_logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header Logo Area End Here -->
                <!-- Begin Header Middle Right Area -->
                <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                    <!-- Begin Header Middle Searchbox Area -->
                    <form action="/" class="hm-searchbox">
                 
                        <input type="text" placeholder="Enter your search key ..." name="q">
                        <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <!-- Header Middle Searchbox Area End Here -->
              
                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->
    <div class="header-bottom mb-0 header-sticky stick d-none d-lg-block d-xl-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Header Bottom Menu Area -->
                    <div class="hb-menu">
                        <nav>
                            <ul>
                          
                        
                                
                                <li class="catmenu-dropdown megamenu-static-holder"><a href="/">All Gift Types</a>
                                    <ul class="megamenu hb-megamenu">
                                        <li><a href="/">All Gift Items</a>
                                            <ul>
                                                <li><a href="/category/Air Fresheners"> Air Fresheners</a></li>
                                                <li><a href="/category/Bags">Bags</a></li>
                                                <li><a href="/category/Key Holders">Key Holders</a></li>
                                                <li><a href="/category/Drink Wares">Drink wares</a></li>
                                                <li><a href="/category/Lanyards">Lanyards</a></li>
                            

                                            </ul>
                                        </li>
                                        <li><a href="/category/Executive Items">Executive Items</a>
                                            <ul>
                                                <li><a href="/category/Notebook">Notebook</a></li>
                                                <li><a href="/category/Notepads">Notepads</a></li>
                                                <li><a href="/category/Wireless charging Notepad">Wireless charging Notepad</a></li>
                                                <li><a href="/category/Wireless charging diary">Wireless charging diary</a></li>
                                                <li><a href="/category/Hogar Luxe Executive Gift Box">Hogar Luxe Executive Gift Box</a></li>
                                                <li><a href="/category/HL Tech Gifts">HL Tech Gifts</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/">Hardware</a>
                                            <ul>
                                                <li><a href="/category/Airpods">AirPods </a></li>
                                                <li><a href="/category/Power banks">Power banks</a></li>
                                                <li><a href="/category/Wristbands">Wristbands</a></li>
                                                <li><a href="/category/Wristwatch">Wristwatch</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/">Clothing</a>
                                            <ul>                                                
                                                <li><a href="/category/T-shirts">T-Shirts</a></li>
                                                <li><a href="/category/Jerseys">⁠Jerseys</a></li>
                                                <li><a href="/category/Towel">⁠Towel</a></li>
                                                <li><a href="/category/Caps">⁠Caps</a></li>
                                                <li><a href="/category/Scarfs">⁠Scarfs</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>

                                <li class="dropdown-holder"><a href="#">Executive Gifts</a>
                                    <ul class="hb-dropdown">
                                      
                                        <li class="sub-dropdown-holder"><a href="#">Executive</a>
                                            <ul class="hb-dropdown hb-sub-dropdown">
                                                <li><a href="/category/Notebook">Notebook</a></li>
                                                <li><a href="/category/Notepads">Notepads</a></li>
                                                <li><a href="/category/Wireless charging Notepad">Wireless charging Notepad</a></li>
                                                <li><a href="/category/Wireless charging diary">Wireless charging diary</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-dropdown-holder"><a href="#">Special Offers</a>
                                            <ul class="hb-dropdown hb-sub-dropdown">
                                               
                                            <li><a href="/category/Hogar Luxe Executive Gift Box">Hogar Luxe Executive Gift Box</a></li>
                                            <li><a href="/category/HL Tech Gift">HL Tech Gifts</a></li>
                                            </ul>
                                        </li>
                                     
                                    
                                    </ul>
                                </li>

                                <li><a href="/about">About Us</a></li>
                                <li><a href="/faq">Frequently asked Questions</a></li>

                                <li><a href="/contact">Contact</a></li>
    
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Bottom Menu Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin Mobile Menu Area -->
    <div class="mobile-menu-area d-lg-none d-xl-none col-12">
        <div class="container"> 
            <div class="row">
                <div class="mobile-menu">
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End Here -->
</header>