<link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="/css/font-awesome.min.css">
<!-- Font Awesome Stars-->
<link rel="stylesheet" href="/css/fontawesome-stars.css">
<!-- Meanmenu CSS -->
<link rel="stylesheet" href="/css/meanmenu.css">
<!-- owl carousel CSS -->
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<!-- Slick Carousel CSS -->
<link rel="stylesheet" href="/css/slick.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="/css/animate.css">
<!-- Jquery-ui CSS -->
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<!-- Venobox CSS -->
<link rel="stylesheet" href="/css/venobox.css">
<!-- Nice Select CSS -->
<link rel="stylesheet" href="/css/nice-select.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="/css/magnific-popup.css">
<!-- Bootstrap V4.1.3 Fremwork CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Helper CSS -->
<link rel="stylesheet" href="/css/helper.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/css/responsive.css">
  <!-- Modernizr js -->
  <script src="/js/vendor/modernizr-2.8.3.min.js?v=<%= Date.now() %>"></script>
<header>
    <!-- Begin Header Top Area -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Begin Header Top Left Area -->
                <div class="col-lg-3 col-md-4">
                    <div class="header-top-left">
                        <ul class="phone-wrap">
                            <li><span>Telephone Enquiry:</span><a href="https://wa.me/+2349090000732?text=Hi,%20I'm%20contacting%20you%20by%20clicking%20on%20the%20whatsapp%20button%20on%20your%20website. %20https://www.hluxegift.com%20My%20Name%20is%20..." target="_blank">(+234) 909 0000 732</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top Left Area End Here -->
                <!-- Begin Header Top Right Area -->
     
                <!-- Header Top Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Top Area End Here -->
    <!-- Begin Header Middle Area -->
    <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
        <div class="container">
            <div class="row">
                <!-- Begin Header Logo Area -->
                <div class="col-lg-3">
                    <div class="logo pb-sm-30 pb-xs-30">
                        <a href="/">
                            <img src="/images/menu/logo/hoger_logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header Logo Area End Here -->
                <!-- Begin Header Middle Right Area -->
                <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                    <!-- Begin Header Middle Searchbox Area -->
                    <form action="/home" class="hm-searchbox">
                 
                        <input type="text" placeholder="Enter your search key ..." name="q">
                        <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <!-- Header Middle Searchbox Area End Here -->
              
                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->
    <div class="header-bottom mb-0 header-sticky stick d-none d-lg-block d-xl-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Header Bottom Menu Area -->
                    <div class="hb-menu">
                        <nav>
                            <ul>
                          
                        
                                
                                <li class="catmenu-dropdown megamenu-static-holder"><a href="/">All Gift Types</a>
                                    <ul class="megamenu hb-megamenu">
                                        <li><a href="/home">All Gift Items</a>
                                            <ul>
                                                <li><a href="/category/Air Fresheners"> Air Fresheners</a></li>
                                                <li><a href="/category/Bags">Bags</a></li>
                                                <li><a href="/category/Key Holders">Key Holders</a></li>
                                                <li><a href="/category/Drink Wares">Drink wares</a></li>
                                                <li><a href="/category/Lanyards">Lanyards</a></li>
                                                <li><a href="/category/Clothing">Clothing</a></li>
                                                <li><a href="/category/Gift Cards">Gift Cards</a></li>
                                                <li><a href="/category/Graphic Design">Graphic Design</a></li>



                            

                                            </ul>
                                        </li>
                                        <li><a href="/category/Executive Items">Executive Items</a>
                                            <ul>
                                                <li><a href="/category/Notebook">Notebook</a></li>
                                                <li><a href="/category/Notepads">Notepads</a></li>
                                                <li><a href="/category/Wireless charging Notepad">Wireless charging Notepad</a></li>
                                                <li><a href="/category/Wireless charging diary">Wireless charging diary</a></li>
                                                <li><a href="/category/Hogar Luxe Executive Gift Box">Hogar Luxe Executive Gift Box</a></li>
                                                <li><a href="/category/HL Tech Gifts">HL Tech Gifts</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/">Hardware</a>
                                            <ul>
                                                <li><a href="/category/Airpods">AirPods </a></li>
                                                <li><a href="/category/Power banks">Power banks</a></li>
                                                <li><a href="/category/Wristbands">Wristbands</a></li>
                                                <li><a href="/category/Wristwatch">Wristwatch</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/">Clothing</a>
                                            <ul>                                                
                                                <li><a href="/category/T-shirts">T-Shirts</a></li>
                                                <li><a href="/category/Jerseys">⁠Jerseys</a></li>
                                                <li><a href="/category/Towel">⁠Towel</a></li>
                                                <li><a href="/category/Caps">⁠Caps</a></li>
                                                <li><a href="/category/Scarfs">⁠Scarfs</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>

                                <li class="dropdown-holder"><a href="#">Executive Gifts</a>
                                    <ul class="hb-dropdown">
                                      
                                        <li class="sub-dropdown-holder"><a href="#">Executive</a>
                                            <ul class="hb-dropdown hb-sub-dropdown">
                                                <li><a href="/category/Notebook">Notebook</a></li>
                                                <li><a href="/category/Notepads">Notepads</a></li>
                                                <li><a href="/category/Wireless charging Notepad">Wireless charging Notepad</a></li>
                                                <li><a href="/category/Wireless charging diary">Wireless charging diary</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-dropdown-holder"><a href="#">Special Offers</a>
                                            <ul class="hb-dropdown hb-sub-dropdown">
                                               
                                            <li><a href="/category/Hogar Luxe Executive Gift Box">Hogar Luxe Executive Gift Box</a></li>
                                            <li><a href="/category/HL Tech Gift">HL Tech Gifts</a></li>
                                            </ul>
                                        </li>
                                     
                                    
                                    </ul>
                                </li>

                                <li><a href="/about">About Us</a></li>
                                <li><a href="/faq">Frequently asked Questions</a></li>

                                <li><a href="/contact">Contact</a></li>
    
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Bottom Menu Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin Mobile Menu Area -->
    <div class="mobile-menu-area d-lg-none d-xl-none col-12">
        <div class="container"> 
            <div class="row">
                <div class="mobile-menu">
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End Here -->
</header>