<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- contact32:04-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Contact || Hogar Luxe Gifts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
        <!-- Material Design Iconic Font-V2.2.0 -->
        <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- Font Awesome Stars-->
        <link rel="stylesheet" href="/css/fontawesome-stars.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="/css/meanmenu.css">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- Slick Carousel CSS -->
        <link rel="stylesheet" href="/css/slick.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- Jquery-ui CSS -->
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <!-- Venobox CSS -->
        <link rel="stylesheet" href="/css/venobox.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="/css/nice-select.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <!-- Bootstrap V4.1.3 Fremwork CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Helper CSS -->
        <link rel="stylesheet" href="/css/helper.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/css/responsive.css">
            <link rel="stylesheet" href="/css/uploadPage.css">
        <!-- Modernizr js -->
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <%- include("loader") %>

    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            <%- include("header.ejs") %>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Upload Product</li>
                        </ul>
                    </div>
                </div>
            </div>

<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <!-- Login Form s-->
            
                    <div class="login-form">
    <form id="product-upload-form" class="">
        <div class="form-group">
            <label for="product-title">Product Title</label>
            <input type="text" id="product-title" name="product-title" required>
        </div>

        <div class="form-group">
            <label for="product-description">Product Description</label>
            <textarea id="product-description" name="product-description" rows="4" required></textarea>
        </div>

        <div class="form-group">
            <label for="product-images">Product Images (up to 5)</label>
            <input type="file" id="product-images" name="product-images" accept="image/*" multiple>
            <div id="image-preview"></div>
        </div>

        <div class="form-group">
            <label for="product-category">Product Category</label>
            <div class="dropdown-container">
                <input type="text" id="category-search" placeholder="Search categories...">
                <div class="dropdown-options" id="category-options">
                    <!-- Categories dynamically populated -->
                </div>
            </div>
            <input type="hidden" id="product-category" name="product-category">
        </div>

        <div class="form-group">
            <label for="product-price">Product Price</label>
            <input type="number" id="product-price" name="product-price" required min="0" step="0.01">
        </div>

        <button type="button" class="register-button mt-0">Upload Product</button>
    </form>

</div>
</div>
</div>
</div>
</div>
</div>
<!-- Content Wraper Area End Here -->
<!-- Begin Footer Area -->
<%- include("footer.ejs")  %>
<!-- Footer Area End Here -->
<!-- Begin Quick View | Modal Area -->

<!-- Quick View | Modal Area End Here -->
</div>
<!-- Body Wrapper End Here -->
jQuery-V1.12.4
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Popper js -->
<script src="/js/vendor/popper.min.js"></script>
<!-- Bootstrap V4.1.3 Fremwork js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Ajax Mail js -->
<script src="/js/ajax-mail.js"></script>
<!-- Meanmenu js -->
<script src="/js/jquery.meanmenu.min.js"></script>
<!-- Wow.min js -->
<script src="/js/wow.min.js"></script>
<!-- Slick Carousel js -->
<script src="/js/slick.min.js"></script>
<!-- Owl Carousel-2 js -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Magnific popup js -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Isotope js -->
<script src="/js/isotope.pkgd.min.js"></script>
<!-- Imagesloaded js -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<!-- Mixitup js -->
<script src="/js/jquery.mixitup.min.js"></script>
<!-- Countdown -->
<script src="/js/jquery.countdown.min.js"></script>
<!-- Counterup -->
<script src="/js/jquery.counterup.min.js"></script>
<!-- Waypoints -->
<script src="/js/waypoints.min.js"></script>
<!-- Barrating -->
<script src="/js/jquery.barrating.min.js"></script>
<!-- Jquery-ui -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Venobox -->
<script src="/js/venobox.min.js"></script>
<!-- Nice Select js -->
<script src="/js/jquery.nice-select.min.js"></script>
<!-- ScrollUp js -->
<script src="/js/scrollUp.min.js"></script>
<!-- Main/Activator js -->
<script src="/js/main.js"></script>
<script type="module" src="/js/query/upload.js"></script>


  
</body>
</html>
